@media screen and (max-width: 1440px) {
        /* .sliderSection h5{
            font-size: 10px;
        } */
    .sliderSection h1{
        font-size: 25px;
    }
    /* .sliderSection li{
        font-size: 7px;
    }
    .sliderSection a{
        font-size: 10px;
        padding: 5px 10px;
    } */
}

@media screen and (max-width: 768px) {
    #sliderImg{
        height: 330px;
      }
}
@media screen and (max-width: 426px) {

    .sliderSection h5{
        font-size: 10px;
    }
    .sliderSection h1{
        font-size: 10px;
    }
    .sliderSection li{
        font-size: 7px;
    }
    .sliderSection a{
        font-size: 10px;
        padding: 5px 10px;
    }
    #sliderImg{
        height: 200px;
    }
}